/* Custom properties/variables  */
:root {
    --main-light: #fff;
    --main-dark: #000000;
    --main-one: #C7195E;
    --main-two: #3e3469;
    --main-three: #31D3BE;  /*  rgba(49, 211, 190, 1) */
    --main-four: #5F7BC6;

    --theme-alt: #FF4425; /* Other Themes main-one. If you want to expand to more than 2 themes we need a better method */

    --main-test: red; /* Just make everything obnoxious */

    --main-gradient: linear-gradient(101.81deg, rgba(49, 211, 190, .98) -4.52%, rgba(110, 31, 206, .98) 54.5%, rgba(72, 28, 128, .95) 101.41%);
    --main-gradient-dark: linear-gradient(62deg, #3a3d40 0%, #181719 100%);

}