/* Goes to root */
/* @import "/styles-root.css"; */
  
  /* Base reset */
  * {
    margin: 0;
    padding: 0;
  }
  
  /* box-sizing and font sizing */
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
  
    /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  /* 1200px / 16px = 75em */
  @media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }
  
  /* Base styles */
  
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-light);
  }
  
  h1,
  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-size: 4.2rem;
  }
  
  ul {
    list-style: none;
  }
  ol{
    list-style: disclosure-closed;
    
  }
  
  a {
    text-decoration: none;
    transition: all .3s;
    position: relative;
    color: var(--main-light);
  }
  a:not(.btn):after{
    content:"";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width:100%;
    margin-top:0px;
    /* background:var(--main-gradient); */
    transition:all .35s;
  }
  p a:after{
    background:var(--main-gradient);
  }
  p a:not(.btn):hover,
  p a:not(.btn):focus,
  p a:not(.btn):active,
  li a:not(.btn):hover,
  li a:not(.btn):focus,
  li a:not(.btn):active{
    color: var(--main-three);
  }
  a:not(.btn):hover,
  a:not(.btn):focus,
  a:not(.btn):active{
    cursor: pointer;
  }
  a:not(.btn):hover:after,
  a:not(.btn):focus:after,
  a:not(.btn):active:after{
    bottom: -3px;
    width: 0px;
    /* background:var(--main-gradient); */
  }
  p{
    margin-bottom:2rem;
  }
  b{
    color: var(--main-three);
  }
  u{
    text-decoration: none; 
    position: relative;
  }
  u:after{
    content:"";
    position: absolute;
    bottom:0;
    left: 0;
    height:2px;
    width: 100%;
    background-color: var(--main-four);
  }

  img {
    display: block;
    width: 100%;
  }
  
  /* Welcome section */
  
  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    background-image: var(--main-dark);
  }
  .welcome-section-bg{
    width: 100%;
    height: 100%;
    /* Maybe move one up */
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 6s;
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  .welcome-section-bg img{
    width: 300px;
    max-width: 70%;
  }

  
  .welcome-section p {
    /* font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-four); */
    margin-top: 2rem;
    text-transform: uppercase;
  }
  .links{
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
  }
  .links a{
    position: relative;
    color: rgba(255,255,255, .85);
    padding-bottom: 0.5rem;
    transition: all 1s;
  }
  @media(max-width: 1100px){
    .links{
      flex-direction:column;
      text-align: center;
      width: auto;
    }
    .links a{
     margin-top:4rem;

    }
  }
  .links a:hover{
    /* color: var(--main-one); */
    color: rgba(255,255,255, 1);
  }
  .links a:after{
    /* position: absolute;
    content: "";
    bottom: 0;
    left:0;
    width:100%;
    height: 1px;
    background-color: var(--main-light);
    transition: all .3s; */
  }
  .links a span{
    position: relative;
  }
  .links a span:after{
    background-color: blue;
    position: relative;
    position: absolute;
    content: "";
    bottom: 0;
    left:0;
    width:100%;
    height: 1px;
    /* background-color: var(--main-light); */
    background-color: rgba(255,255,255, .5);
    transition: all .3s;
  }
  .links a span:hover:after{
    background-color: var(--main-light);
    width: 100%;
    height: 1px;
    bottom: 0;
    left:0;
  }
  .pipe{
    width:2px;
    height:120%;
    background-color: var(--main-light);
  }
  
  /* Projects section */
  
  .projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-two);
    /* background: 
    background: linear-gradient(var --main-gradient); */
    background: var(--main-gradient);
  }
  
  .projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    /*    border-bottom: 0.2rem solid var(--main-light);*/
  }
  
  @media (max-width: 28.75em) {
    .projects-section-header {
      font-size: 4rem;
    }
  }
  
  /* "Automagic" image grid using no media queries */
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  
  @media (max-width: 30.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .project {
    background: var(--main-dark);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    overflow: hidden;
  }
  
  .code {
    color: var(--main-dark);
    transition: color 0.3s ease-out;
  }
  
  .project:hover .code {
    color: var(--main-four);;
  }
  
  .project-image {
    height: calc(100% - 6.8rem);
    height: auto;
    width: 100%;
    object-fit: cover;
    filter: grayscale(1);
    transition: all .35s;
  }

  .project:hover > .project-image {
    filter: grayscale(0);
    
  }
  
  .project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
  }

  .projects-all{
    height: 0px;
    max-height: 0px;
    overflow: hidden;
    transition: .3s all;
  }
  .open.projects-all{
    height: auto;
    max-height: 1000px;
  }
  

   /* Rolls over every 100s (1:40) */
  @media (min-width: 701px){
    .projects-all-list li {
      opacity: 0;
      position: relative;
      
    }
    .open .projects-all-list li {
      animation: cascadeItems 100s infinite linear;
    }
    .open .projects-all-list li:nth-child(0){
      animation-delay: 0.0s;
    }
    .open .projects-all-list li:nth-child(1){
      animation-delay: 0.1s;
    }
    .open .projects-all-list li:nth-child(2){
      animation-delay: 0.2s;
    }
  
    .open .projects-all-list li:nth-child(3){
      animation-delay: 0.3s;
    }
    .open .projects-all-list li:nth-child(4){
      animation-delay: 0.4s;
    }
    .open .projects-all-list li:nth-child(5){
      animation-delay: .5s;
    }
    .open .projects-all-list li:nth-child(6){
      animation-delay: .6s;
    }

  }
  @keyframes cascadeItems {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
  }

  .projects-all-listings{
    display: flex;
    justify-content: space-between;
    align-content: initial;
    align-items: initial;
    max-width:1280px;
    margin:0px auto;
  }
  @media(max-width: 700px){
    .projects-all-listings{
      flex-direction: column;
    }
  }

  .projects-all-list{
    text-align:left;
    width:30%;
    margin-bottom: 2rem; 
  }
  @media(max-width: 600px){
    .projects-all-list{
      width: 100%;
    }
  }
  .projects-all-list li{
    margin-bottom:1rem;
  }
  .projects-all-list li a{
    width: 100%;
    display: block;
  }
  
/* Colors and BGs */
.color-one{
  color: var(--main-one)
}
.color-two{
color: var(--main-two)
}
.color-three{
color: var(--main-three)
}
.color-four{
color: var(--main-four)
}
.color-light{
color: var(--main-light)
}
.color-dark{
color: var(--main-dark)
}
/*  */
.bg-one{
  background-color: var(--main-one)
}
.bg-two{
background-color: var(--main-two)
}
.bg-three{
background-color: var(--main-three)
}
.bg-four{
background-color: var(--main-four)
}
.bg-light{
background-color: var(--main-light)
}
.bg-dark{
background-color: var(--main-dark)
}
.bg-gradient-main{
background: var(--main-gradient)
}
.bg-gradient-dark{
  background: var(--main-gradient-dark)
}


/* Buttonss */

  .btn {
    display: inline-block;
    position: relative;
    padding: 1rem 2rem;
    border-radius: 2px;
    transition: background 0.3s ease-out;
    cursor: pointer;
    opacity: 1;
    margin-top:0px;
    transition: all .3s;
    margin-bottom:1rem;
  }
  .btn:after {
    content: "";
    position: absolute;
    bottom:0px;
    left: 0px;
    width: 100%;
    background-color: transparent;
    height:2px;
    transition: all .3s;
  }

  .btn:hover,
  .btn:focus,
  .btn:active{
    opacity: .95;
    margin-top:2px;
  }
  .btn:hover:after,
  .btn:focus:after,
  .btn:active:after{
    content: "";
    position: absolute;
    bottom:0px;
    left: 0px;
    height:4px;
  }
  .btn-dark{
    font-size: 2rem;
    cursor: pointer;
    background: var(--main-dark);
    color: var(--main-light);
    transition: background 0.3s ease-out;
    
  }
  .btn-light{
    font-size: 2rem;
    cursor: pointer;
    background: var(--main-light);
    color: var(--main-dark);
    transition: background 0.3s ease-out;
    
  }
  .btn-one{
    font-size: 2rem;
    cursor: pointer;
    background: var(--main-one);
    color: var(--main-light);
    transition: background 0.3s ease-out;
    
  }
  .btn-two{
    font-size: 2rem;
    cursor: pointer;
    background: var(--main-two);
    color: var(--main-light);
    transition: background 0.3s ease-out;
    
  }
  .btn-gradient{
    font-size: 2rem;
    cursor: pointer;
    background: var(--main-gradient);
    color: var(--main-light);
    transition: background 0.3s ease-out;
    
  }
  
  .btn-show-all {
    font-size: 2rem;
    background: var(--main-dark);
    transition: background 0.3s ease-out;
    cursor: pointer;
  }
  
  .btn-show-all:hover {
    background: var(--main-one);
  }
  
  .btn-show-all:hover > i {
    transform: translateX(2px);
  }
  
  .btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }
  
  /* Contact section */
  
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: var(--main-dark);
  }
  
  .contact-section-header > h2 {
    font-size: 6rem;
  }
  
  @media (max-width: 28.75em) {
    .contact-section-header > h2 {
      font-size: 4rem;
    }
  }
  
  .contact-section-header > p {
    font-style: italic;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
  }
  
  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(4px);
  }
  
  /* Footer */
  
  footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-dark);
    border-top: 4px solid var(--main-one);
  }
  
  footer > p {
    margin: 2rem;
  }
  
  footer i {
    vertical-align: middle;
  }
  
  @media (max-width: 28.75em) {
    footer {
      flex-direction: column;
      text-align: center;
    }
  }

/* Move to new stylesheet */
/* Just for Fun */

/* TOOLTIPS */
.complete{
  text-decoration: line-through;
}
/* 
* Slowly shrinks and fades text if user is away. 
@ 1 min away or so text start to lose opacity 
and scaled down if away
*/
.mfisaway .welcome-section h1{
  animation: subtleGoodBye 5000s; 
  animation-iteration-count: 1;
	transition: all .5s;
	
}

@keyframes subtleGoodBye {
	0% {
		opacity: 1;
		transform: scale(1);
	}
  .75% {
		opacity: 1;
		transform: scale(1);
	}
	5% {
		opacity: .25;
		transform: scale(.5);
	}
	50% {
		opacity: .1;
		transform: scale(.25);
	}
	100% {
		/* height: 0vh; */
		opacity: 0;
		transform: scale(.1);
	}
}


  